USE [calendrify]
GO
/****** Object:  UserDefinedFunction [dbo].[EVENTRECORDS]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE    FUNCTION [dbo].[EVENTRECORDS]
(
	@EVENTID int
)
RETURNS int
AS
BEGIN
	DECLARE @COUNT int

	SELECT @COUNT  = COUNT(*)  FROM EVENTS
	INNER JOIN EVENTCATEGORY ON EVENTS.EVENTCATID=eventCategory.eventCatID
	GROUP BY EVENTS.EVENTCATID

	RETURN @COUNT
END

GO
/****** Object:  Table [dbo].[events]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[events](
	[eventID] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](20) NOT NULL,
	[description] [varchar](255) NULL,
	[startDateTime] [datetime] NOT NULL,
	[endDateTime] [datetime] NOT NULL,
	[Mode] [varchar](10) NOT NULL,
	[url] [varchar](255) NULL,
	[VenueName] [varchar](20) NULL,
	[availability] [bit] NULL,
	[userID] [int] NOT NULL,
	[eventCatID] [int] NOT NULL,
	[createdAt] [date] NOT NULL,
	[lastModify] [date] NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK__events__2DC7BD696CFA4CCE] PRIMARY KEY CLUSTERED 
(
	[eventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__events__DD7784172C3BEB90] UNIQUE NONCLUSTERED 
(
	[url] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[rsvp]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[rsvp](
	[rsvpID] [int] IDENTITY(1,1) NOT NULL,
	[status] [varchar](10) NOT NULL,
	[response] [varchar](10) NOT NULL,
	[comment] [varchar](255) NULL,
	[userID] [int] NOT NULL,
	[eventID] [int] NOT NULL,
	[userResponseTime] [datetime] NOT NULL,
 CONSTRAINT [PK__rsvp__828B1FDABEB82B20] PRIMARY KEY CLUSTERED 
(
	[rsvpID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[group]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[group](
	[groupID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[Description] [varchar](255) NULL,
 CONSTRAINT [PK__group__88C102AD6EE701A3] PRIMARY KEY CLUSTERED 
(
	[groupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userGroupMapping]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userGroupMapping](
	[mapID] [int] IDENTITY(1,1) NOT NULL,
	[groupID] [int] NOT NULL,
	[userID] [int] NOT NULL,
 CONSTRAINT [PK__userGrou__0AFEE9FF86ECB200] PRIMARY KEY CLUSTERED 
(
	[mapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[firstName] [varchar](50) NOT NULL,
	[lastName] [varchar](50) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
	[mobile] [varchar](13) NULL,
	[createdAt] [date] NOT NULL,
	[isDeleted] [bit] NOT NULL,
 CONSTRAINT [PK__user__CB9A1CDFEBE4A42E] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__user__AB6E6164CF8C6D94] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[MASTER_VIEW]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[MASTER_VIEW] AS 
SELECT U.FIRSTNAME,U.EMAIL,E.TITLE,E.DESCRIPTION,E.MODE,
R.RESPONSE,E.CREATEDAT,GP.NAME AS GROUPNAME FROM [DBO].[USER] AS U 
INNER JOIN EVENTS E ON E.USERID = U.USERID 
INNER JOIN RSVP R ON R.USERID = U.USERID
INNER JOIN USERGROUPMAPPING G ON G.USERID = U.USERID 
INNER JOIN [DBO].[GROUP] GP ON G.GROUPID = GP.GROUPID 
GROUP BY U.FIRSTNAME,U.EMAIL,E.TITLE,E.DESCRIPTION,E.MODE,
R.RESPONSE,E.CREATEDAT,GP.NAME 
GO
/****** Object:  Table [dbo].[eventCategory]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eventCategory](
	[eventCatID] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[createdAt] [date] NOT NULL,
 CONSTRAINT [PK__eventCat__8CB410999F4B0259] PRIMARY KEY CLUSTERED 
(
	[eventCatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PAST_EVENTS]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[PAST_EVENTS] AS 
SELECT E.TITLE , EC.NAME , U.FIRSTNAME,U.EMAIL , E.DESCRIPTION , E.STARTDATETIME , E.ENDDATETIME , E.MODE ,E.CREATEDAT FROM EVENTS E 
INNER JOIN EVENTCATEGORY EC ON EC.EVENTCATID = E.EVENTCATID 
INNER JOIN [DBO].[USER] U ON U.USERID = E.USERID 
WHERE E.CREATEDAT < GETDATE()
GO
/****** Object:  UserDefinedFunction [dbo].[LISTAVAILABLE_PERSON]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[LISTAVAILABLE_PERSON](@USERNAME VARCHAR(50))
RETURNS TABLE
AS RETURN (
  SELECT  RSVPID,RSVP.STATUS,RESPONSE,U.FIRSTNAME,E.TITLE FROM RSVP INNER JOIN EVENTS E ON E.EVENTID=RSVP.EVENTID
  INNER JOIN [DBO].[USER] U ON
  U.USERID=RSVP.USERID
  WHERE U.FIRSTNAME=@USERNAME
  AND STATUS='AVAILABLE'
  GROUP BY RSVPID,RSVP.STATUS,RESPONSE,COMMENT,U.FIRSTNAME,E.TITLE)
GO
/****** Object:  Table [dbo].[city]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[cityID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[stateID] [int] NOT NULL,
 CONSTRAINT [PK__city__B4BEB8BE02FFF667] PRIMARY KEY CLUSTERED 
(
	[cityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[country]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country](
	[countryID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
 CONSTRAINT [PK__country__D320769C32C096C7] PRIMARY KEY CLUSTERED 
(
	[countryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[eventInvite]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eventInvite](
	[inviteID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[eventID] [int] NOT NULL,
	[inviteTime] [datetime] NOT NULL,
 CONSTRAINT [PK__eventInv__F4DF1BA5C072F0FD] PRIMARY KEY CLUSTERED 
(
	[inviteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[state]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[state](
	[stateID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[countryID] [int] NOT NULL,
 CONSTRAINT [PK__state__A667B9C1B05ADD42] PRIMARY KEY CLUSTERED 
(
	[stateID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userAddress]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userAddress](
	[addressID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[addressline1] [nvarchar](255) NULL,
	[addressline2] [nvarchar](255) NULL,
	[pincode] [varchar](6) NULL,
	[cityID] [int] NOT NULL,
 CONSTRAINT [PK__userAddr__26A1118DB7DC3EB5] PRIMARY KEY CLUSTERED 
(
	[addressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[city]  WITH CHECK ADD  CONSTRAINT [FK__city__stateID__3A81B327] FOREIGN KEY([stateID])
REFERENCES [dbo].[state] ([stateID])
GO
ALTER TABLE [dbo].[city] CHECK CONSTRAINT [FK__city__stateID__3A81B327]
GO
ALTER TABLE [dbo].[eventInvite]  WITH CHECK ADD  CONSTRAINT [FK__eventInvi__event__3F466844] FOREIGN KEY([eventID])
REFERENCES [dbo].[events] ([eventID])
GO
ALTER TABLE [dbo].[eventInvite] CHECK CONSTRAINT [FK__eventInvi__event__3F466844]
GO
ALTER TABLE [dbo].[eventInvite]  WITH CHECK ADD  CONSTRAINT [FK__eventInvi__userI__3E52440B] FOREIGN KEY([userID])
REFERENCES [dbo].[user] ([userID])
GO
ALTER TABLE [dbo].[eventInvite] CHECK CONSTRAINT [FK__eventInvi__userI__3E52440B]
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD  CONSTRAINT [FK__events__eventCat__440B1D61] FOREIGN KEY([eventCatID])
REFERENCES [dbo].[eventCategory] ([eventCatID])
GO
ALTER TABLE [dbo].[events] CHECK CONSTRAINT [FK__events__eventCat__440B1D61]
GO
ALTER TABLE [dbo].[events]  WITH CHECK ADD  CONSTRAINT [FK__events__userID__3C69FB99] FOREIGN KEY([userID])
REFERENCES [dbo].[user] ([userID])
GO
ALTER TABLE [dbo].[events] CHECK CONSTRAINT [FK__events__userID__3C69FB99]
GO
ALTER TABLE [dbo].[rsvp]  WITH CHECK ADD  CONSTRAINT [FK__rsvp__eventID__412EB0B6] FOREIGN KEY([eventID])
REFERENCES [dbo].[events] ([eventID])
GO
ALTER TABLE [dbo].[rsvp] CHECK CONSTRAINT [FK__rsvp__eventID__412EB0B6]
GO
ALTER TABLE [dbo].[rsvp]  WITH CHECK ADD  CONSTRAINT [FK__rsvp__userID__403A8C7D] FOREIGN KEY([userID])
REFERENCES [dbo].[user] ([userID])
GO
ALTER TABLE [dbo].[rsvp] CHECK CONSTRAINT [FK__rsvp__userID__403A8C7D]
GO
ALTER TABLE [dbo].[state]  WITH CHECK ADD  CONSTRAINT [FK__state__countryID__3B75D760] FOREIGN KEY([countryID])
REFERENCES [dbo].[country] ([countryID])
GO
ALTER TABLE [dbo].[state] CHECK CONSTRAINT [FK__state__countryID__3B75D760]
GO
ALTER TABLE [dbo].[userAddress]  WITH CHECK ADD  CONSTRAINT [FK__userAddre__cityI__398D8EEE] FOREIGN KEY([cityID])
REFERENCES [dbo].[city] ([cityID])
GO
ALTER TABLE [dbo].[userAddress] CHECK CONSTRAINT [FK__userAddre__cityI__398D8EEE]
GO
ALTER TABLE [dbo].[userAddress]  WITH CHECK ADD  CONSTRAINT [FK__userAddre__userI__38996AB5] FOREIGN KEY([userID])
REFERENCES [dbo].[user] ([userID])
GO
ALTER TABLE [dbo].[userAddress] CHECK CONSTRAINT [FK__userAddre__userI__38996AB5]
GO
ALTER TABLE [dbo].[userGroupMapping]  WITH CHECK ADD  CONSTRAINT [FK__userGroup__group__4316F928] FOREIGN KEY([groupID])
REFERENCES [dbo].[group] ([groupID])
GO
ALTER TABLE [dbo].[userGroupMapping] CHECK CONSTRAINT [FK__userGroup__group__4316F928]
GO
ALTER TABLE [dbo].[userGroupMapping]  WITH CHECK ADD  CONSTRAINT [FK__userGroup__userI__4222D4EF] FOREIGN KEY([userID])
REFERENCES [dbo].[user] ([userID])
GO
ALTER TABLE [dbo].[userGroupMapping] CHECK CONSTRAINT [FK__userGroup__userI__4222D4EF]
GO
/****** Object:  StoredProcedure [dbo].[COUNTRESPONSE]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[COUNTRESPONSE] (@TITLE VARCHAR(50))
AS
BEGIN
SELECT  e.title,COUNT(*) AS count FROM RSVP r 
INNER JOIN EVENTS e ON e.eventID=r.eventID
INNER JOIN [DBO].[USER] u ON r.userID=u.userID
WHERE r.RESPONSE='YES' AND e.TITLE=@TITLE
GROUP BY e.title
END
GO
/****** Object:  StoredProcedure [dbo].[FINDRESPONSE]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[FINDRESPONSE] (@MODE VARCHAR(10)) AS
SELECT RSVP.RSVPID , RSVP.RESPONSE , RSVP.USERRESPONSETIME ,[DBO].[USER].FIRSTNAME , [DBO].[USER].MOBILE , EVENTS.TITLE , EVENTS.DESCRIPTION
FROM RSVP 
JOIN [DBO].[USER]
ON [DBO].[USER].USERID = RSVP.USERID
JOIN EVENTS 
ON EVENTS.EVENTID = RSVP.EVENTID WHERE MODE = @MODE
GO
/****** Object:  StoredProcedure [dbo].[LISTEVENTBYDATE]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[LISTEVENTBYDATE] (@date DATE)
AS
BEGIN
 SELECT U.FIRSTNAME , U.LASTNAME , EC.NAME , EC.CREATEDAT, E.TITLE ,E.MODE,E.DESCRIPTION,E.STARTDATETIME,E.ENDDATETIME  FROM EVENTS E
 INNER JOIN [DBO].[USER] U ON E.USERID = U.USERID
  INNER JOIN EVENTCATEGORY EC ON EC.EVENTCATID = E.EVENTCATID
 WHERE E.CREATEDAT = @date
END
GO
/****** Object:  StoredProcedure [dbo].[SEARCHWITHMONTH]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SEARCHWITHMONTH] (@MONTH BIGINT)
AS
BEGIN
 SELECT U.FIRSTNAME , U.LASTNAME , EC.NAME , EC.CREATEDAT, E.TITLE ,E.MODE,E.DESCRIPTION,E.STARTDATETIME,E.ENDDATETIME  FROM EVENTS E
 INNER JOIN [DBO].[USER] U ON E.USERID = U.USERID
 INNER JOIN EVENTCATEGORY EC ON EC.EVENTCATID = E.EVENTCATID 
 WHERE MONTH(E.CREATEDAT) = @MONTH
END
GO
/****** Object:  StoredProcedure [dbo].[USERINSERT]    Script Date: 24-02-2023 16:39:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[USERINSERT]
    @USERID INT = NULL,
    @FIRSTNAME VARCHAR(100) = NULL,
    @LASTNAME VARCHAR(100) = NULL,
    @EMAIL VARCHAR(100) = NULL,
    @PASSWORD VARCHAR(100) = NULL,
    @MOBILE VARCHAR(13) = NULL,
    @CREATEDAT DATE = NULL,
    @ISDELETED BIT = NULL,
    @OPERATIONTYPE VARCHAR(10)
AS
BEGIN
    SET NOCOUNT ON;
    
    IF @OPERATIONTYPE = 'INSERT'
        INSERT INTO [USER] (FIRSTNAME, LASTNAME, EMAIL, PASSWORD, MOBILE, CREATEDAT, ISDELETED)
        VALUES (@FIRSTNAME, @LASTNAME, @EMAIL, @PASSWORD, @MOBILE, @CREATEDAT, @ISDELETED)
    ELSE IF @OPERATIONTYPE = 'UPDATE'
        UPDATE [USER]
        SET FIRSTNAME = ISNULL(@FIRSTNAME, FIRSTNAME), LASTNAME = ISNULL(@LASTNAME, LASTNAME), 
        EMAIL = ISNULL(@EMAIL, EMAIL), PASSWORD = ISNULL(@PASSWORD, PASSWORD), 
        MOBILE = ISNULL(@MOBILE, MOBILE), CREATEDAT = ISNULL(@CREATEDAT, CREATEDAT), 
        ISDELETED = ISNULL(@ISDELETED, ISDELETED)
        WHERE USERID = @USERID
    ELSE IF @OPERATIONTYPE = 'DELETE'
        DELETE FROM [DBO].[USER] WHERE USERID = @USERID
END
GO
